@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    text-align: center;
}
html{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;
    line-height: 300%;
}

header p{
    line-height: 140%;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* container with 2 rows of cards inside */
.container, header{
    width: 80%;
    margin: 0 auto;
}


/* float reset */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* individual card */
.row{
    width: 100%;
    margin-block: 20px;
}

.card{
    float: left;
    margin: 0.8em;
    width: calc((100% / 3) - 1.6em);
    height: 100px;
    min-width: 320px; 
    background-color: #0F0E17;
    color: white;
    box-shadow: 0px 0px 5px 1px gray;
}

/* image container */
.inner-img{
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    float:left;
}

/* cards images */
.male1{
    background-image: url(./img/male1.png);
}
.male2{
    background-image: url(./img/male2.png);
}
.male3{
    background-image: url(./img/male3.png);
}
.female1{
    background-image: url(./img/female1.png);
}
.female2{
    background-image: url(./img/female2.png);
}
.female3{
    background-image: url(./img/female3.png);
}

address a{
    color: #2FAADD;
    font-style: normal;
}

h2{
    text-transform: uppercase;
}

.info{
    margin-left: 120px;
    height: 100%;
    padding-block: 10px;
}
.info a{
    text-decoration: none;
}
.info span{
    display: inline-block;
    margin-block: 5px;
}